<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
    {%if drugs%}
    <div class="drugs" style="margin-left:20%" class="container">
      <h2>Medication List</h2>
      <table style="width:100%;" class="table table-hover">
        <tr>
          <th>DIN</th>
          <th>INGREDIENT</th>
        </tr>
        {%for drug in drugs%}
          <tr>
            <td>{{drug[0]}}</td>
            <td>{{drug[1]}}</td>
          </tr>
        {%endfor%}
      </table>
    </div>
  {%endif%}
  </body>
</html>
